<h1>Form Example</h1>

{{ $form := .Form }}

<form id="my-form">

    <h2>Text Input</h2>
    <input class="input" type="text" placeholder="Some simple text inout" value="{{ $form.TextInput }}" name="textInput" onkeyup='{{ goteaForm `FORM_UPDATE` `my-form` }}'>

    <h2>Simple Select</h2>
    <select name='selectInput' onchange='{{ goteaForm `FORM_UPDATE` `my-form` }}'>
        {{ range $form.Options }}
        <option value={{ . }} {{ if eq $form.SelectInput . }} selected {{ end }}>
            {{ . }}
        </option>
        {{ end }}
    </select>
    <h2>multiple options select</h2>
    <select name="selectMultipleInput" size="4" multiple>
        <option value="first">first</option>
        <option value="second">second</option>
        <option value="third">third</option>
        <option value="fourth">fourth</option>
    </select>
    <h2>Text Area</h2>
    <textarea name="textAreaInput" rows="10" cols="30">
    The cat was playing in the garden.
    </textarea>
    <h2>Radio</h2>
    <input type="radio" name="genderInput" value="male">Male
    <input type="radio" name="genderInput" value="female">Female
    <h2>Checkbox</h2>
    <input type="checkbox" name="checkboxInput">

</form>