{{extends "layout"}}
{{block title()}}GoTea Example{{end}}
{{block body()}}
<h2>Gotea Demo Site</h2>
<p>Choose an example from the menu to get started, or have a play with the classic 'counter' example below:</p>
{{ yield counter() .Counter }}
{{ yield crash() . }}
{{end}}

{{block counter()}}
<div id="counter">
    <button class='counter-increment' onclick='{{ goteaMessage(`INCREMENT_COUNTER`, -1) }}'>
        Down
    </button>
    <div class="counter-readout">
        {{ . }}
    </div>
    <button class='counter-increment' onclick='{{ goteaMessage(`INCREMENT_COUNTER`, 1) }}'>
        Up
    </button>
</div>
{{ end }}

<hr>

{{block crash()}}
<p>In order to stop errors in client-app code killing the Gotea runtime, crash protection is included!</p>
<div id="crash">
    Press the big red button to try crashing Gotea
    <button class='crash-button' onclick='{{ goteaMessage_(`CRASH_ME`) }}'>
        Crash!
    </button>
</div>

{{ end }}