<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{yield title()}}</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">

</head>

<body>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/memory">Memory Game</a>
            </li>
            <li>
                <a href="/form">Form</a>
            </li>
            <li>
                <a href="/components">Components</a>
            </li>
            <li>
                <a href="/routing">Routing</a>
            </li>
            <li>
                <a href="/animation">Animation</a>
            </li>
            <li>
                Current Route: {{ .BaseModel.Router.Route }}
            </li>
        </ul>
    </div>

    <div id="view">
        {{yield body()}}
    </div>

    <!-- Either serve the built JS from Github -->
    <script src="https://cdn.jsdelivr.net/gh/jpincas/go-tea/js/dist/gotea.js"></script>
    <!-- Or for JS development, serve it localy (need to copy from dist to static) -->
    <!-- <script src="static/js/gotea.js"></script> -->
</body>

</html>