{{ msgSelectTag := .UniqueMsg(`TAG.SELECT`) }}
{{ msgUpdateSearchInput := .UniqueMsg(`SEARCHINPUT.UPDATE`) }}
{{ msgRemoveTag := .UniqueMsg(`TAG.REMOVE`) }}
{{ searchInputID := .UniqueID(`search-input`) }}


<div class="tagselector tagselector-container">
    <div class="tagselector-suggestedtags">
        <input id="{{ searchInputID }}" class="input" type="text" placeholder="Start typing to see tags"
            value='{{ .SearchInput }}' onkeyup='{{ goteaValue(msgUpdateSearchInput, searchInputID) }}'>
        <ul class="tagselector-tagslist tagselector-suggestedtagslist">
            {{ range .SuggestedTags }}
            <li class="tagselector-tag tagselector-suggestedtag" onclick='{{ goteaMessage(msgSelectTag, .) }}'>
                {{ . }}
            </li>
            {{ end }}
        </ul>
        {{ noSuggestions := len(.SuggestedTags) }}
        {{ if .ShowNoMatchMessage() }}
        <p>{{ .NoMatchMessage }}</p>
        {{ end }}
    </div>

    <div class="tagselector-selectedtags">
        <h4 class="tagselector-selectedtagstitle">Selected Tags:</h4>
        <ul class="tagselector-tagslist tagselector-selectedtagslist">
            {{ range .SelectedTags }}
            <li onclick='{{ goteaMessage(msgRemoveTag, .) }}' class="tagselector-tag tagselector-selectedtag">{{ . }}
            </li>
            {{ end }}
        </ul>
    </div>
</div>