.tagselector-tagslist {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
}

.tagselector-tag {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tagselector-suggestedtag {
    color: white;
    background-color: darkgreen;
}

.tagselector-selectedtag {
    color: white;
    background-color: darkred;
}

.tagselector-selectedtag::after {
    content: " × ";
}