body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Main */

.row {
    display: flex;
    flex-direction: row;
}

.row .equalchild {
    flex: 1;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background: rgb(46, 36, 182);
    color: white;
}

.navbar ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar ul li {
    padding: 10px;
}

#view {
    padding: 10px;
}

/* Memory game */

#deck {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.card {
    width: 150px;
    height: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: silver;
}

button.flipcard {
    padding: 10px;
    width: 100px;
    background-color: aqua;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card.unmatched {
    cursor: pointer;
}

.card .value {
    font-size: 5em;
}

.card.facedown {
    background-color: cornflowerblue;
}

.card.facedown.card.matched {
    background-color: green;
}